{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
        footer {
            background-color: #f8f9fa;
            text-align: center;
            padding: 1rem;
        }
    </style>
</head>
<body>
    <!-- 导航栏 -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="{% url 'article:about' %}">关于</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                   <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'article:home' %}">首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'article:contact' %}">联系</a></li>
                </ul>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        <h1>关于我</h1>
        <p>您好！我是一名充满热情的Python开发工程师。</p>

        <p>
我熟练掌握Python语言，并且对C语言也有很好的掌握，此外还了解C++、Java和JavaScript等多种编程语言。
我在技术社区也十分活跃，不仅在博客园分享各种编程题解，在CSDN上记录学习笔记和技术心得，还在GitHub上开源了我的个人项目。我热衷于探索新技术，享受解决问题的过程，并且性格开朗，热爱运动。
        </p>

        <b><p>博客园：https://www.cnblogs.com/huanghongzhe</p></b>
        <b><p>CSDN：https://blog.csdn.net/qq_17802895</p></b>
        <b><p>github：https://github.com/hongzhe12</p></b>

    </main>

    <footer class="bg-light text-center py-4 mt-4">
        <p>&copy; 2024 我的博客. 保留所有权利。</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="{% static 'bootstrap/4.5.3/js/bootstrap.min.js' %}"></script>
</body>
</html>
