{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- header -->
{% include "blog/header.html" %}

<!-- 导航栏 -->
{% include "blog/navbar.html" %}
<link rel="stylesheet" href="{% static 'blog/css/code.css' %}" >
<body>

<main class="container mt-4">
    <article>
        <h1>{{ article.title }}</h1>
        <p><small>发表于 {{ article.published_date }}</small></p>
        <div class="content">
            {{ article.content|safe }}
        </div>
    </article>
</main>

 {% include "blog/footer.html" %}

    <script src="{% static 'blog/js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/4.5.3/js/bootstrap.min.js' %}"></script>


</body>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    showProcessingMessages: false, //关闭js加载过程信息
    messageStyle: "none", //不显示信息
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath:  [ ["$", "$"] ], //行内公式选择$
        displayMath: [ ["$$","$$"] ], //段内公式选择$$
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'], //避开某些标签
        ignoreClass:"comment-content" //避开含该Class的标签
    },
    "HTML-CSS": {
        availableFonts: ["STIX","TeX"], //可选字体
        showMathMenu: false //关闭右击菜单显示
    }
});
MathJax.Hub.Queue(["Typeset",MathJax.Hub]);

</script>

<script src="{% static 'blog/js/MathJax.js' %}"></script>
{#<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>#}
</html>
